@font-face {
  font-family: "iconfont"; /* Project id 3538657 */
  src: url('iconfont.woff2?t=1660743913434') format('woff2'),
       url('iconfont.woff?t=1660743913434') format('woff'),
       url('iconfont.ttf?t=1660743913434') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-upload:before {
  content: "\e82c";
}

.icon-qingdanxinxishebeijichuxinxigongdanxinxi:before {
  content: "\e64a";
}

.icon-shipinbofang:before {
  content: "\e604";
}

.icon-batch-download:before {
  content: "\e848";
}

.icon-lingsheng:before {
  content: "\e603";
}

.icon-zanting:before {
  content: "\e621";
}

.icon-shangyishoushangyige:before {
  content: "\e78a";
}

.icon-xiayigexiayishou:before {
  content: "\e7a5";
}

.icon-danquxunhuan:before {
  content: "\e66d";
}

.icon-xiazai:before {
  content: "\e61c";
}

.icon-suiji:before {
  content: "\e71f";
}

.icon-aixin:before {
  content: "\e608";
}

.icon-liebiaoxunhuan:before {
  content: "\e6a2";
}

.icon-xiala:before {
  content: "\e63a";
}

.icon-bofang1:before {
  content: "\e654";
}

.icon-diandian:before {
  content: "\e653";
}

.icon-bofangbuju:before {
  content: "\e60e";
}

.icon-pinglun:before {
  content: "\e607";
}

.icon-fenxiang:before {
  content: "\e62f";
}

.icon-shangpinshoucangcollect:before {
  content: "\e7c9";
}

.icon-xitongfanhui:before {
  content: "\e6b6";
}

.icon-pinpaishangbiao:before {
  content: "\e64f";
}

.icon-bofang:before {
  content: "\e623";
}

.icon-iconset0278:before {
  content: "\e6b1";
}

.icon-beijingyinle:before {
  content: "\e601";
}

.icon-shoucangxuanzhong:before {
  content: "\e600";
}

.icon-haoyoutuijie:before {
  content: "\e629";
}

.icon-shipinbofangyingpian2:before {
  content: "\e78e";
}

.icon-diandiandianshu:before {
  content: "\e679";
}

.icon-jiatianjia:before {
  content: "\e758";
}

.icon-24gf-playlistMusic2:before {
  content: "\ea86";
}

.icon-changyongicon-:before {
  content: "\e612";
}

.icon-sousuo:before {
  content: "\e8b9";
}

.icon-jiahao2fill:before {
  content: "\e728";
}

.icon-maikefeng:before {
  content: "\e61f";
}

.icon-yinle2:before {
  content: "\e75b";
}

.icon-line-wirelesschargingwuxianchongdian:before {
  content: "\e722";
}

.icon-sousuoleimu:before {
  content: "\e754";
}

.icon-guanzhu:before {
  content: "\e60f";
}

.icon-paihangbang:before {
  content: "\e782";
}

.icon-liebiao:before {
  content: "\eaf8";
}

.icon-gedan:before {
  content: "\e636";
}

.icon-yinle1:before {
  content: "\e60d";
}

