* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* icon图标 */
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
